# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

.nyc_output
coverage
dist
docs/dist
node_modules
npm-debug.log
yarn.lock
