{
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "comma-dangle": ["error", "never"],
    "prettier/prettier": ["error", {
      // https://github.com/prettier/prettier#options
      "singleQuote": true,
      "trailingComma": "none"
    }],
    "strict": "off"
  }
}
