<ul class="stats">
  <li class="stats__item stats__item--stars"><span>0</span> stars</li>
  <li class="stats__item stats__item--subscribers"><span>0</span> watchers</li>
  <li class="stats__item stats__item--forks"><span>0</span> forks</li>
  <li class="stats__item stats__item--open-issues"><span>0</span> open issues</li>
</ul>
